body{
    font-family: 'Patrick Hand', cursive;
    background-color: yellowgreen;
}
.title{
color: white;
}

.heading{
    color: white;
}
.subheading{
    color: white;
    background-color: lightgoldenrodyellow;
}
.par1{
     color: white;
}