body{
    font-family: 'Gloria Hallelujah', cursive;
}
.title{
color: forestgreen;
background-color: lightgoldenrodyellow;
}
h1{
    font-size: 100px;
}
.heading{
    color: yellowgreen;
    background-color: lightgoldenrodyellow;
}
.subheading{
    color: yellowgreen;
    background-color: lightgoldenrodyellow;
}
.par1{
    background-color: lightgoldenrodyellow;
}