body{
    font-family: 'Gloria Hallelujah', cursive;
}
.title{
color: forestgreen;
background-color: lightgoldenrodyellow;
}
h1{
    font-size: 100px;
}
.welcominghead{
    color: yellowgreen;
    background-color: lightgoldenrodyellow;
    text-align: center;
}
.subheading{
    color: yellowgreen;
    background-color: lightgoldenrodyellow;
}
.par1{
    background-color: lightgoldenrodyellow;
    text-align: center;
}