body{
    font-family: 'Patrick Hand', cursive;
    background-color:#163A06;
}
.title{
color: white;
}
h1{
    font-size: 100px;
}
.heading{
    color: white;
    font-size: 50px;
}
.subheading{
    color: white;
    font-size: 40px;
}
.par{
  color: white;
font-size: 25px;    
}
.Featuredstoryhead{
    color: #ffc107;
}
.unlink{
    color: #ffc107;
}