body{
    font-family: 'Gloria Hallelujah', cursive;
    background-color: yellowgreen;
}
.title{
color: white;
}
h1{
    font-size: 100px;
}
.heading{
    color: white;
}
.subheading{
    color: white;
}
.par{
  color: white;
}