body{
    font-family: 'Patrick Hand', cursive;
    background-color:#163A06;
}
.title{
color: white;
}
h1{
    font-size: 100px;
}
.heading{
    color: white;
}
.subheading{
    color: white;
}
.par{
  color: white;
  font-size: 30px;    
}